public_html/web_services/RSATWS.wsdl

<?xml version="1.0"?>
<definitions name="RSATWS"
targetNamespace="urn:RSATWS"
          xmlns:tns="urn:RSATWS"
          xmlns:xsd="http://www.w3.org/2001/XMLSchema"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xmlns="http://schemas.xmlsoap.org/wsdl/"
          xmlns:enc="http://schemas.xmlsoap.org/soap/encoding/"
          xmlns:rsat="http://rsat.scmbb.ulb.ac.be/rsa-tools/web_services/schema"
	  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/">

  <types>
    <xsd:schema targetNamespace="urn:RSATWS" xmlns="http://www.w3.org/2001/XMLSchema">

      <xsd:complexType name="ArrayOfString">
         <xsd:complexContent>
            <xsd:restriction base="enc:Array">
               <xsd:attribute ref="enc:arrayType" arrayType="xsd:string[]"/>
            </xsd:restriction>
         </xsd:complexContent>
      </xsd:complexType>

      <xsd:complexType name="RetrieveSequencesRequest">
        <!--xsd:sequence minOccurs="0" maxOccurs="1"-->
	  <xsd:element name="return" type="xsd:string"/>
	  <xsd:element name="organism" type="xsd:string"/>
	  <!--xsd:element name="query" type="tns:ArrayOfString"/-->
	  <xsd:element name="query" type="xsd:string"/>
	  <xsd:element name="noorf" type="xsd:string"/>
	  <xsd:element name="from" type="xsd:string"/>
	  <xsd:element name="to" type="xsd:string"/>
	  <xsd:element name="feattype" type="xsd:string"/>
	  <xsd:element name="type" type="xsd:string"/>
	  <xsd:element name="format" type="xsd:string"/>
	  <xsd:element name="all" type="xsd:string"/>
	  <xsd:element name="number" type="xsd:string"/>
	  <xsd:element name="label" type="xsd:string"/>
	  <xsd:element name="label_sep" type="xsd:string"/>
	  <xsd:element name="nocom" type="xsd:string"/>
	<!---/xsd:sequence-->
      </xsd:complexType>

      <xsd:element name="RetrieveSequencesResponse">
        <xsd:complexType>
	  <xsd:element name="file" type="xsd:string"/>
	  <xsd:element name="command" type="xsd:string"/>
	  <xsd:element name="result" type="xsd:string"/>
	</xsd:complexType>
      </xsd:element>

      <xsd:complexType name="PurgeSequencesRequest">
        <xsd:element name="return" type="xsd:string"/>
	<xsd:element name="sequence" type="xsd:string"/>
	<xsd:element name="tmp_infile" type="xsd:string"/>
	<xsd:element name="format" type="xsd:string"/>
	<xsd:element name="match_length" type="xsd:string"/>
	<xsd:element name="mismatch" type="xsd:string"/>
	<xsd:element name="str" type="xsd:string"/>
	<xsd:element name="delete" type="xsd:string"/>
	<xsd:element name="mask_short" type="xsd:string"/>
      </xsd:complexType>

      <xsd:complexType name="OligoAnalysisRequest">
        <xsd:element name="return" type="xsd:string"/>
	<xsd:element name="sequence" type="xsd:string"/>
	<xsd:element name="tmp_infile" type="xsd:string"/>
	<xsd:element name="format" type="xsd:string"/>
	<xsd:element name="length" type="xsd:string"/>
	<xsd:element name="organism" type="xsd:string"/>
	<xsd:element name="background" type="xsd:string"/>
	<xsd:element name="stats" type="xsd:string"/>
	<xsd:element name="noov" type="xsd:string"/>
	<xsd:element name="str" type="xsd:string"/>
	<xsd:element name="sort" type="xsd:string"/>
	<xsd:element name="lth" type="xsd:string"/>
      </xsd:complexType>

    </xsd:schema>
  </types>

  <message name="RetrieveSequenceInput">
      <part name="request" type="tns:RetrieveSequencesRequest"/>
  </message>

  <message name="RetrieveSequenceOutput">
      <!--part name="response" type="xsd:string"/-->
      <!--part name="response" type="tns:RetrieveSequencesResponse"/-->
      <part name="response" element="tns:RetrieveSequencesResponse"/>
  </message>

  <message name="PurgeSequenceInput">
      <part name="request" type="tns:PurgeSequencesRequest"/>
  </message>

  <message name="PurgeSequenceOutput">
      <part name="response" type="xsd:string"/>
  </message>

  <message name="OligoAnalysisInput">
      <part name="request" type="tns:OligoAnalysisRequest"/>
  </message>

  <message name="OligoAnalysisOutput">
      <part name="response" type="xsd:string"/>
  </message>

  <portType name="RSATWSPortType">
      <operation name="retrieve_seq">
         <input message="tns:RetrieveSequenceInput"/>
         <output message="tns:RetrieveSequenceOutput"/>
      </operation>
      <operation name="purge_seq">
         <input message="tns:PurgeSequenceInput"/>
         <output message="tns:PurgeSequenceOutput"/>
      </operation>
      <operation name="oligo_analysis">
         <input message="tns:OligoAnalysisInput"/>
         <output message="tns:OligoAnalysisOutput"/>
      </operation>
  </portType>

  <binding name="RSATWSBinding" type="tns:RSATWSPortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="retrieve_seq">
         <soap:operation soapAction="urn:RSATWS#retrieve_seq"/>
         <input>
             <soap:body use="literal" namespace="urn:RSATWS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
             <soap:body use="literal" namespace="urn:RSATWS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="purge_seq">
         <soap:operation soapAction="urn:RSATWS#purge_seq"/>
         <input>
             <soap:body use="literal" namespace="urn:RSATWS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
             <soap:body use="literal" namespace="urn:RSATWS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="oligo_analysis">
         <soap:operation soapAction="urn:RSATWS#oligo_analysis"/>
         <input>
             <soap:body use="literal" namespace="urn:RSATWS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
             <soap:body use="literal" namespace="urn:RSATWS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
  </binding>

  <service name="RSAT Web Services">
    <documentation>RSA Tools web services</documentation>
    <port name="RSATWSPortType" binding="tns:RSATWSBinding">
	<soap:address location="http://rsat.scmbb.ulb.ac.be/rsat/web_services/RSATWS.cgi"/>
    </port>
  </service>
</definitions>
