public_html/web_services/RSATWS.wsdl

<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="RSATWS.xsl"?>
<definitions name="RSATWS"
targetNamespace="urn:RSATWS"
          xmlns:tns="urn:RSATWS"
          xmlns:xsd="http://www.w3.org/2001/XMLSchema"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xmlns="http://schemas.xmlsoap.org/wsdl/"
          xmlns:enc="http://schemas.xmlsoap.org/soap/encoding/"
	  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/">

  <types>
    <xsd:schema targetNamespace="urn:RSATWS" xmlns="http://www.w3.org/2001/XMLSchema">

      <xsd:complexType name="ArrayOfString">
         <xsd:complexContent>
            <xsd:restriction base="enc:Array">
               <xsd:attribute ref="enc:arrayType" arrayType="xsd:string[]"/>
            </xsd:restriction>
         </xsd:complexContent>
      </xsd:complexType>

      <xsd:complexType name="RetrieveSequencesRequest">
        <!--xsd:sequence minOccurs="0" maxOccurs="1"-->
	  <xsd:element name="return" type="xsd:string"/>
	  <xsd:element name="organism" type="xsd:string"/>
	  <!--xsd:element name="query" type="tns:ArrayOfString"/-->
	  <xsd:element name="query" type="xsd:string"/>
	  <xsd:element name="noorf" type="xsd:string"/>
	  <xsd:element name="from" type="xsd:int"/>
	  <xsd:element name="to" type="xsd:int"/>
	  <xsd:element name="feattype" type="xsd:string"/>
	  <xsd:element name="type" type="xsd:string"/>
	  <xsd:element name="format" type="xsd:string"/>
	  <xsd:element name="all" type="xsd:string"/>
	  <xsd:element name="lw" type="xsd:int"/>
	  <xsd:element name="label" type="xsd:string"/>
	  <xsd:element name="label_sep" type="xsd:string"/>
	  <xsd:element name="nocom" type="xsd:string"/>
	  <xsd:element name="repeat" type="xsd:string"/>
	  <xsd:element name="imp_pos" type="xsd:string"/>
	<!---/xsd:sequence-->
	<documentation>Parameters for the operation retrieve_seq</documentation>
      </xsd:complexType>

      <xsd:element name="RetrieveSequencesResponse">
        <xsd:complexType>
	  <xsd:element name="file" type="xsd:string"/>
	  <xsd:element name="command" type="xsd:string"/>
	  <xsd:element name="result" type="xsd:string"/>
	</xsd:complexType>
      </xsd:element>

      <xsd:complexType name="PurgeSequencesRequest">
        <xsd:element name="return" type="xsd:string"/>
	<xsd:element name="sequence" type="xsd:string"/>
	<xsd:element name="tmp_infile" type="xsd:string"/>
	<xsd:element name="format" type="xsd:string"/>
	<xsd:element name="match_length" type="xsd:int"/>
	<xsd:element name="mismatch" type="xsd:int"/>
	<xsd:element name="str" type="xsd:string"/>
	<xsd:element name="delete" type="xsd:string"/>
	<xsd:element name="mask_short" type="xsd:string"/>
      </xsd:complexType>

      <xsd:complexType name="OligoAnalysisRequest">
        <xsd:element name="return" type="xsd:string"/>
	<xsd:element name="sequence" type="xsd:string"/>
	<xsd:element name="tmp_infile" type="xsd:string"/>
	<xsd:element name="format" type="xsd:string"/>
	<xsd:element name="length" type="xsd:int"/>
	<xsd:element name="organism" type="xsd:string"/>
	<xsd:element name="background" type="xsd:string"/>
	<xsd:element name="stats" type="xsd:string"/>
	<xsd:element name="noov" type="xsd:string"/>
	<xsd:element name="str" type="xsd:string"/>
	<xsd:element name="sort" type="xsd:string"/>
	<xsd:element name="lth" type="xsd:string"/>
      </xsd:complexType>

      <xsd:complexType name="GeneInfoRequest">
        <xsd:element name="organism" type="xsd:string"/>
	<xsd:element name="query" type="xsd:string"/>
	<xsd:element name="full" type="xsd:string"/>
	<xsd:element name="noquery" type="xsd:string"/>
	<xsd:element name="descr" type="xsd:string"/>
	<xsd:element name="feattype" type="xsd:string"/>
      </xsd:complexType>

    </xsd:schema>
  </types>
  
  <!-- Parameters Definition -->
  <message name='RetrieveSequenceRequest'>
    <part name='return' type='string'>
      <documentation>Return type. Accepted values: 'file' (result is stored on a file on the server), 'result' (result is directly transferred to the client), or  'both'.</documentation>
    </part>
    <part name='organism' type='string'>
      <documentation>Organism</documentation>
    </part>
    <part name='query' type='string'>
      <documentation>A list of query genes</documentation>
    </part>
    <part name='noorf' type='string'>
      <documentation>Prevent overlap with upstream open reading frames (ORF).</documentation>
    </part>
    <part name='from' type='int'>
      <documentation>Inferior limit of the region to retrieve. </documentation>
    </part>
    <part name='to' type='int'>
      <documentation>Superior limit of the region to retrieve. </documentation>
    </part>
    <part name='feattype' type='string'>
      <documentation>Type of genome features to load. Supported: CDS, mRNA, tRNA, rRNA. </documentation>
    </part>
    <part name='type' type='string'>
      <documentation>Sequence type. Supported: upstream, downstream, ORF (unspliced open reading frame).</documentation>
    </part>
    <part name='format' type='string'>
      <documentation>Sequence format.</documentation>
    </part>
    <part name='all' type='string'>
      <documentation>Return sequences for all the genes of the organism. </documentation>
    </part>
    <part name='lw' type='int'>
      <documentation>Line width (0 for all on one line). </documentation>
    </part>
    <part name='label' type='string'>
      <documentation>Field(s) to be used in the sequence label.
      Multiple fields can be specified, separated by commas.  Default:
      name. Supported:
      id, name, organism_name, sequence_type, current_from, current_to, ctg, orf_strand, reg_left, reg_right
      </documentation>
    </part>
    <part name='label_sep' type='string'>
      <documentation>Separator between the label fields. Default: | (pipe character)</documentation>
    </part>
    <part name='nocom' type='string'>
      <documentation>
	No comments. Only the identifier and the sequence are
        returned. By default, the comment indicates the ORF and
        upstream sequence coordinates.
      </documentation>
    </part>
    <part name='repeat' type='string'>
      <documentation>
	Use the repeat masked version of the genome. 
        Attention : repeated regions are annotated for some genomes
        only.
      </documentation>
    </part>
    <part name='imp_pos' type='string'>
      <documentation>
	Admit imprecise positions (use value 'imp_pos' to do so)
      </documentation>
    </part>
  </message>
  
  <message name='RetrieveSequenceResponse'>
    <part name='file' type='string'>
      <documentation>Location of the result file on the server. This
      can be used as input for a further request. </documentation>
    </part>
    <part name='command' type='string'>
      <documentation>The stand alone command executed on the
      server.
      </documentation>
    </part>
    <part name='result' type='string'>
      <documentation>The result sequence(s). </documentation>
    </part>
  </message>

  <message name='PurgeSequenceRequest'>
    <part name='return' type='string'>
      <documentation>Return type. Accepted values: 'file' (result is stored on a file on the server), 'result' (result is directly transferred to the client), or  'both'.
      </documentation>
    </part>
    <part name='sequence' type='string'>
      <documentation>Sequence to purge.
      </documentation>
    </part>
    <part name='tmp_infile' type='string'>
      <documentation>Name of the file with input sequence on the server.
      </documentation>
    </part>
    <part name='format' type='string'>
      <documentation>Sequence format.</documentation>
    </part>
    <part name='match_length' type='int'>
      <documentation>Minimal match length (default: 40)
      </documentation>
    </part>
    <part name='mismatch' type='int'>
      <documentation>Number of mismatches allowed (default: 3)
      </documentation>
    </part>
    <part name='str' type='string'>
      <documentation>Discard duplications on the direct strand only (-1str) or
    on the reverse complement as well (-2str).
      </documentation>
    </part>
    <part name='delete' type='string'>
      <documentation>Delete repeats instead of masking them.
      </documentation>
    </part>
    <part name='mask_short' type='string'>
      <documentation>Mask (replace by N characters) sequences shorter than the specified length.
      </documentation>
    </part>
  </message>

  <message name='PurgeSequenceResponse'>
    <part name='file' type='string'>
      <documentation>Location of the result file on the server. This can be used as input for a further request. </documentation>
    </part>
    <part name='command' type='string'>
      <documentation>The stand alone command executed on the
      server.
      </documentation>
    </part>
    <part name='result' type='string'>
      <documentation>The result sequence(s). </documentation>
    </part>
  </message>

  <message name='OligoAnalysisRequest'>
    <part name='return' type='string'>
      <documentation>Return type. Accepted values: 'file' (result is stored on a file on the server), 'result' (result is directly transferred to the client), or  'both'.
      </documentation>
    </part>
    <part name='sequence' type='string'>
      <documentation>Input sequence.
      </documentation>
    </part>
    <part name='tmp_infile' type='string'>
      <documentation>Name of the file with input sequence on the server.
      </documentation>
    </part>
    <part name='format' type='string'>
      <documentation>Input sequence format.</documentation>
    </part>
    <part name='length' type='int'>
      <documentation>Oligomer length
      </documentation>
    </part>
    <part name='organism' type='string'>
      <documentation>Organism</documentation>
    </part>
    <part name='background' type='string'>
      <documentation>Background model: Type of sequences used as background model for estimating expected oligonucleotide frequencies.
      </documentation>
    </part>
    <part name='stats' type='string'>
      <documentation>List of statistics to return. Supported:occ, mseq, freq,
    proba, ratio, zscore, like, pos, rank
      </documentation>
    </part>
    <part name='noov' type='string'>
      <documentation>No overlapping. Disable the detection of overlapping matches for self-overlapping patterns (ex TATATA, GATAGA).
      </documentation>
    </part>
    <part name='str' type='string'>
      <documentation>Oligonucleotide occurrences found on both stands are
    summed (-2str = default) or not (-1str).
      </documentation>
    </part>
    <part name='sort' type='string'>
      <documentation>Sort oligomers according to overrepresentation.
      </documentation>
    </part>
    <part name='lth' type='string'>
      <documentation>Lower threshold on some parameter. Format='param value'
      </documentation>
    </part>
  </message>

  <message name='OligoAnalysisResponse'>
    <part name='file' type='string'>
      <documentation>Location of the result file on the server. This
      can be used as input for a further request. </documentation>
    </part>
    <part name='command' type='string'>
      <documentation>The stand alone command executed on the
      server.
      </documentation>
    </part>
    <part name='result' type='string'>
      <documentation>The result discovered pattern(s). </documentation>
    </part>
  </message>

<message name='GeneInfoRequest'>
    <part name='organism' type='string'>
      <documentation>Organism</documentation>
    </part>
    <part name='query' type='string'>
      <documentation>Gene for which you want info on
      </documentation>
    </part>
    <part name='full' type='string'>
      <documentation>Full match only (no substring matching)
      </documentation>
    </part>
    <part name='noquery' type='string'>
      <documentation>Do not print the query at the begining of each line
      </documentation>
    </part>
    <part name='descr' type='string'>
      <documentation>MAtch query against the description, too, not just against gene ID and name
      </documentation>
    </part>
    <part name='feattype' type='string'>
      <documentation>Feature type (CDS, mRNA, tRNA, rRNA, scRNA)
      </documentation>
    </part>
  </message>

  <message name='GeneInfoResponse'>
    <part name='command' type='string'>
      <documentation>The stand alone command executed on the
      server.
      </documentation>
    </part>
    <part name='result' type='string'>
      <documentation>The result gene(s) info(s). </documentation>
    </part>
  </message>
  
  <!-- end of parameters description -->
  
  <message name="RetrieveSequenceInput">
      <part name="request" type="tns:RetrieveSequencesRequest"/>
  </message>
    
  <message name="RetrieveSequenceOutput">
      <!--part name="response" type="xsd:string"/-->
      <!--part name="response" type="tns:RetrieveSequencesResponse"/-->
      <part name="response" element="tns:RetrieveSequencesResponse"/>
  </message>

  <message name="PurgeSequenceInput">
      <part name="request" type="tns:PurgeSequencesRequest"/>
  </message>

  <message name="PurgeSequenceOutput">
      <part name="response" type="xsd:string"/>
  </message>

  <message name="OligoAnalysisInput">
      <part name="request" type="tns:OligoAnalysisRequest"/>
  </message>

  <message name="OligoAnalysisOutput">
      <part name="response" type="xsd:string"/>
  </message>

  <message name="GeneInfoInput">
      <part name="request" type="tns:GeneInfoRequest"/>
  </message>

  <message name="GeneInfoOutput">
      <part name="response" type="xsd:string"/>
  </message>

  <portType name="RSATWSPortType">
      <operation name="retrieve_seq">
         <!-- Name of input/output must be specified here -->
         <input name="RetrieveSequenceRequest" message="tns:RetrieveSequenceInput"/>
         <output name="RetrieveSequenceResponse" message="tns:RetrieveSequenceOutput"/>
         
      <documentation>
	Returns upstream, downstream or coding DNA sequences for list
	of query genes.
      </documentation>
      </operation>
      <operation name="purge_seq">
         <input name="PurgeSequenceRequest" message="tns:PurgeSequenceInput"/>
         <output name="PurgeSequenceResponse" message="tns:PurgeSequenceOutput"/>
      <documentation>Mask repeated fragments of an input sequence.</documentation>
      </operation>
      <operation name="oligo_analysis">
         <input name="OligoAnalysisRequest" message="tns:OligoAnalysisInput"/>
         <output name="OligoAnalysisResponse" message="tns:OligoAnalysisOutput"/>
      <documentation>
	Analysis of the statistical significance of all the oligomers
	of a given size in a sequence. Commonly used to detect
	over-represented oligonucleotides in a set of promoter
	sequences.
      </documentation>
      </operation>
      <operation name="gene_info">
         <input name="GeneInfoRequest" message="tns:GeneInfoInput"/>
         <output name="GeneInfoResponse" message="tns:GeneInfoOutput"/>
      <documentation>
	Get information about genes.
      </documentation>
      </operation>
  </portType>

  <binding name="RSATWSBinding" type="tns:RSATWSPortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="retrieve_seq">
         <soap:operation soapAction="urn:RSATWS#retrieve_seq"/>
         <input>
             <soap:body use="literal" namespace="urn:RSATWS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
             <soap:body use="literal" namespace="urn:RSATWS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="purge_seq">
         <soap:operation soapAction="urn:RSATWS#purge_seq"/>
         <input>
             <soap:body use="literal" namespace="urn:RSATWS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
             <soap:body use="literal" namespace="urn:RSATWS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="oligo_analysis">
         <soap:operation soapAction="urn:RSATWS#oligo_analysis"/>
         <input>
             <soap:body use="literal" namespace="urn:RSATWS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
             <soap:body use="literal" namespace="urn:RSATWS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="gene_info">
         <soap:operation soapAction="urn:RSATWS#gene_info"/>
         <input>
             <soap:body use="literal" namespace="urn:RSATWS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
             <soap:body use="literal" namespace="urn:RSATWS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
  </binding>

  <service name="RSAT Web Services">
    <documentation>
      Web services for the Regulatory Sequence Analysis Tools (RSAT).
      Tools developed by Jacques van Helden
      (jvanheld@scmbb.ulb.ac.be), SOAP/WSDL interface developed by
      Olivier Sand (oly@scmbb.ulb.ac.be).
    </documentation>
    <port name="RSATWSPortType" binding="tns:RSATWSBinding">
	<soap:address location="http://rsat.scmbb.ulb.ac.be/rsat/web_services/RSATWS.cgi"/>
    </port>
  </service>
</definitions>
